@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@100&family=Roboto:wght@300&display=swap');

/*Tags HTML*/

body {
	font-family: Roboto;
}

h1 {
	font-family: Roboto;
}

h2 {
	font-family: Roboto;
}